@use 'variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&display=swap');
html{
    padding: 0%;
    margin:  0%;
    display: block;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0%;
    position: relative;
}

.video_tierra{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -3;
}
header, .content_all-articulos{
    padding: 10px;
}
ul,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: v.$negro;
}

hr{
    color: v.$grisClaro;
}

img{
    border-radius: 10px;
}

