$blanco: white;
$negro: black;
$azul: #198edd; 
$amarillo:  #f4d03f;
$rojo:  #c0392b;
$gris:  #d7dbdd;
$grisClaro:  #f2f3f4;
//RESOLUCIONES DE LOS DIFERENTES DISPOSITIVOS
$phone: 30rem;
$tablet: 30.063rem;
$desktop: 48rem;
$desktopXl: 75rem;